.general_section {
  background-color: rgba(0, 0, 0, 0.508);
  border-radius: 10px;
  height: 82vh;
  margin: 20px;
  border: solid 3px; /* Ajuste al grosor de la animación */
  animation: borderAnimation 5s infinite; /* Llama a la animación */
}

@keyframes borderAnimation {
  30% {
    border-color: #08fdd8; /* Cambia a un color intermedio */
  }
  60% {
    border-color: #ff0000; /* Cambia a un color intermedio */
  }
  100% {
    border-color: #ffffff; /* Cambia al color final */
  }
}

/* INICIO ROUTE HOME */

.content {
  display: flex;
  height: 80vh; /* O la altura deseada para que ocupe toda la pantalla */
}

.content1,
.content2 {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #08fdd8; */
}

.content1{
  align-items:center;
}


.content1 .container1_img {
  width: 250px;
  height: 325px;
  border-radius: 80px;
  background-color: #4e4e4e;
}

.container1_img {
  box-shadow: 5px 5px 5px #08fdd8;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 4px;
  animation: borderAnimation 5s infinite;
  transition: box-shadow 0.1s ease;
  overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del contenedor */
  border-radius: 50%; /* Si deseas que sea un círculo */
}

.container1_img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* La imagen cubre todo el contenedor sin distorsionarse */
}

.container1_redes{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  width: 250px;
}

.container1_redes div{
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
}

.container1_redes div:hover{
  background-color: #363636;
  box-shadow: 0px 0px 5px 5px #00947e;
}

.container1_img_redes img {
  width: 60px;
  height: 60px;
  object-fit: cover; /* La imagen cubre todo el contenedor sin distorsionarse */
}

.container1_img_redes2 img{
  width: 50px;
  height: 50px;
}

.container1_redes p{
  display: flex;
  align-items: center;
}

.container1_img_redes {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: solid 3px; /* Ajuste al grosor de la animación */
  animation: borderAnimation 5s infinite; /* Llama a la animación */
  overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del contenedor */
}

.container2_text  p {
  margin: 0;
  padding: 0;
  line-height: 1.1;
}

.container2_text1 {
  font-size: 160px;
}

.container2_text2 {
  font-size: 33px;
}

.container2_text3 {
  font-size: 34px;
}

.container2_text4 {
  font-family: monospace;
  margin-top: 10px;
  font-size: 12.7px;
  font-weight: 900;
  text-decoration:overline;
}

/* FIN ROUTE HOME */

/* INICIO ROUTE ABOUTME */


.content_aboutme {
  display: flex;
  height: 80vh; /* O la altura deseada para que ocupe toda la pantalla */
}

.content1_aboutme,
.content2_aboutme {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  /* background-color: #08fdd8; */
}

.content1_aboutme{
  padding-left: 50px;
  width: 50%;
}

.content1_aboutme p {
  text-align: justify;
}

/* .content1_aboutme p:first-child{
  text-align: center;
} */

.content2_aboutme{
  width: 50%;
  justify-content: center;
  align-items: center;
}

.content2_aboutme_img img{
  width: 350px;
}

.animate-down {
  animation: slide-down 2s infinite alternate;
}

@keyframes slide-down {
  0% {
      transform: translateY(0px);
  }
  100% {
      transform: translateY(25px);
  }
}


/* FIN ROUTE ABOUTME */

/* INICIO ROUTE SKILLS*/

.contentSkills {
  display: flex;
  height: 80vh; /* O la altura deseada para que ocupe toda la pantalla */
}

.contentSkillsUno,
.contentSkillsDos {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  padding-top: 10%;
  width: 50%;
  /* background-color: #08fdd8; */
}

.contentSkillsBasicPlus, .contentSkillsBasic{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contentSkillsBasicPlus div, .contentSkillsBasic div{
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  width: auto;
  height: auto;
  border: solid rgb(255, 255, 255) 2px;
  background-color: #00947e;
}

.contentSkillsBasicPlus div:hover, .contentSkillsBasic div:hover{
  scale: 1.05;
  box-shadow: 0px 0px 10px 1px rgb(255, 255, 255);
}