:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0px;
  margin: 0px;
  margin-top: 120px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('/src/assets/backgroundBlack.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  height: 860px; /*a modificar en query*/
}

*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: inherit;
}

/* adaptación para dispositivos de pantallas súper pequeñas (casi obsoletos) */
@media only screen and (min-width: 320px) {

}

/* adaptación para dispositivos de pantallas de la mayoria de telefonos Celulares */
@media only screen and (min-width: 400px) {

}

/* adaptación para dispositivos de pantallas de algunos celulares de mayor pixelaje y tablets*/
@media only screen and (min-width: 600px) {
  :root {
    margin-top: 60px;
  }
  
}

/* adaptación para dispositivos de pantallas en tables y algunas laptops*/
@media only screen and (min-width: 992px) {

}

/* adaptación para dispositivos de pantallas en laptos y pantallas de mayor pixelaje*/
@media only screen and (min-width: 1200px) {

}

